* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
    margin: 23px;

}

.button-header {
    cursor: pointer;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background: #6FBF44;
    color: #ffffff;
    margin-right: 23px;
    width: 124px;
    height: 51px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.logo-image {
    height: 500px;
    width: 568px;
    margin: 163px 0 0 123px;
    display: inline-block;

}

section {
    display: inline-block;



}

h1 {
    font-size: 62px;
    line-height: 82px;
    font-weight: 700;
    color: #161a49;
    width: 582px;
    height: 164px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4b505a;
    width: 493px;
    height: 99px;
    margin-top: 32px;
    margin-bottom: 65px;

}

.link-main {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6fbf44;
    cursor: pointer;
    width: 239px;
    height: 64px;

}

@media screen and (max-width:900px) {
    header {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50%;

    }

    section {
        display: block;
        height: auto;
        width: 100%;
        position: static;



    }

    .link-header {
        display: none;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.596px;
        margin-top: 124px;

    }

    p {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.5px;
        position: absolute;
        top: 213px;
        left: 50px;




    }

    .link-main {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        position: absolute;
        top: 404px;
        left: 225px;


    }

    .logo-image {
        width: 312px;
        height: 288px;
        position: absolute;
        top: 505px;
        max-width: 90%;

    }

    .button-header {
        margin-top: 17px;
        margin-left: 284px;
        width: 91px;
        height: 31px;
        flex-shrink: 0;
    }

}