/* PSEUDO CLASSES

:active -> quando o elemento está ativo, ou seja, está sendo pressionado
:visited -> seleciona o link que foi visitado
:hover -> quando o mouse passe em cima do elemento
:checked -> usado em radio/ checkbox/select
:disabled -> elemento desabilitado / button / input
:enabled -> elemento está habilitado
:focus ->e aplicada quando um elemento recebe foco, o que pode ocorrer quando o usuário seleciona o elemento
:read -> onlyseleciona input ou textarea que sao apenas leitura
:empty -> elemento que não tem filho

:first-child -> primeiro filho / ex: primeira li de uma ul / primeiro span de uma div
:first-of-type -> primeiro elemento de seu tipo entre os filhos de seu elemento pai.
:last-child -> último filho
:last-of-type -> ultimo elemento de seu tipo entre os filhos de seu elemento pai
:not () -> estiliza os elementos, exceto o que esta dentro do ()
:nth-child ()-> seleciona o elemento baseado na sua posição. Ex: :nth-child(3)
:nth-last-child() -> seleciona o elemento baseado na sua posição, contando de trás para frente.

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:active {
    color: red;

}

input:active {
    color: rgb(171, 7, 185);
}

p:hover {
    color: aquamarine
}

